[Unit]
Description=Podman Play Kube (Qdrant)
After=network-online.target

[Service]
Type=forking
WorkingDirectory=/opt/qdrant/qdrant_v1.17.0

ExecStartPre=-/usr/bin/podman pod rm -f -i qdrant-stack
ExecStart=/usr/bin/podman play kube --start=true qdrant.yaml

ExecStop=/usr/bin/podman pod stop qdrant-stack
ExecStopPost=-/usr/bin/podman pod rm -f -i qdrant-stack

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target